accelerate
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
apify_fingerprint_datapoints
anyio
anywidget
appdirs
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Automat
babel
backoff
baml-py
bbox_visualizer
bcrypt
beautifulsoup4
bleach
blinker
boto3
boto3-stubs
botocore
botocore-stubs
bs4
build
browserforge
CacheControl
cachetools
certifi
cffi
camoufox
charset-normalizer
chromadb
click
coloredlogs
comm
constantly
contourpy
courlan
cramjam
cryptography
cssselect
cycler
Cython
dataclasses-json
datasets
dateparser
debugpy
decorator
defusedxml
dill
distro
docutils
duckdb
durationpy
einops
executing
fairscale
faiss-cpu
fake-useragent
fastjsonschema
fastparquet
filelock
filetype
firebase
firebase_admin
Flask
flatbuffers
fonttools
fqdn
frozenlist
fsspec
ftfy
geojson
gitdb
GitPython
google-api-core
google-auth
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-genai
google-resumable-media
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
h2
hf-xet
hpack
htmldate
httpcore
httptools
httpx
httpx-sse
huggingface_hub
humanfriendly
hyperframe
hyperlink
idna
importlib_metadata
importlib_resources
incremental
iniconfig
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isoduration
itemadapter
itemloaders
itsdangerous
jedi
Jinja2
jiter
jmespath
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_bbox_widget
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
jusText
kagglehub
kiwisolver
kubernetes
langchain
langchain-chroma
langchain-classic
langchain-community
langchain-core
langchain-huggingface
langchain-ollama
langchain-openai
langchain-qdrant
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
lark
loguru
loro
lxml
lxml_html_clean
marimo
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mistune
mmh3
mpmath
msgpack
msgspec_m
multidict
multiprocess
mypy_extensions
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
ninja
notebook
notebook_shim
numpy
oauthlib
ollama
onnxruntime
open_clip_torch
openai
opencv-python
opencv-python-headless
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
ormsgpack
overrides
packaging
pandas
pandas-stubs
pandocfilters
parse
parsel
parso
patsy
pdfminer.six
pdfplumber
peft
pexpect
pi_heif
pillow
pillow-avif-plugin
pinecone
pinecone-plugin-assistant
pinecone-plugin-interface
platformdirs
playwright
pluggy
polars
polars-runtime-32
polygraphy
portalocker
posthog
prometheus_client
prompt_toolkit
propcache
Protego
proto-plus
protobuf
psutil
psygnal
ptyprocess
pure_eval
pyarrow
pyasn1
pyasn1_modules
pybase64
pycocotools
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
PyDispatcher
pyee
Pygments
PyJWT
pylabel
pymdown-extensions
pyOpenSSL
pyparsing
pypdf
pypdfium2
PyPika
pyppeteer
pyproject_hooks
pyquery
pytest
pytest-base-url
pytest-playwright
python-dateutil
python-dotenv
python-json-logger
python-slugify
pytz
PyYAML
pyzmq
qdrant-client
queuelib
redis
referencing
regex
requests
requests-file
requests-html
requests-oauthlib
requests-toolbelt
rf100vl
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rfdetr
rich
roboflow
rpds-py
rsa
ruff
s3transfer
safetensors
scikit-learn
scipy
Scrapy
scrapy-redis
seaborn
Send2Trash
sentence-transformers
service-identity
setuptools
shellingham
six
smmap
sniffio
soupsieve
SQLAlchemy
sqlglot
sqlglotrs
stack-data
starlette
statsmodels
streamlit
supervision
sympy
tenacity
terminado
text-unidecode
threadpoolctl
tiktoken
timm
tinycss2
tld
tldextract
tokenizers
toml
tomlkit
torch
torchaudio
torchvision
tornado
tqdm
trafilatura
traitlets
transformers
Twisted
typer
typer-slim
types-awscrt
types-python-dateutil
types-pytz
types-s3transfer
typing-inspect
typing-inspection
typing_extensions
tzdata
tzlocal
uri-template
urllib3
uvicorn
uvloop
w3lib
watchfiles
wcwidth
webcolors
webencodings
websocket-client
websockets
Werkzeug
widgetsnbextension
xxhash
yarl
zipp
zope.interface
zstandard
