altair
annotated-types
attrs
babel
baml-py
blinker
browserforge
cachetools
certifi
charset-normalizer
click
courlan
cython
dateparser
gitdb
gitpython
greenlet
htmldate
idna
jinja2
jsonschema
jsonschema-specifications
justext
language-tags
lxml
lxml-html-clean
markupsafe
narwhals
numpy
orjson
packaging
pandas
pillow
platformdirs
playwright
protobuf
pyarrow
pydantic
pydantic-core
pydeck
pyee
pyobjc-core
pyobjc-framework-cocoa
pysocks
python-dateutil
pytz
pyyaml
referencing
regex
requests
rpds-py
screeninfo
six
smmap
streamlit
tenacity
tld
toml
tornado
tqdm
trafilatura
typing-extensions
typing-inspection
tzdata
tzlocal
ua-parser
ua-parser-builtins
urllib3
