[project]
name = "api"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13.7"
dependencies = [
    "camoufox>=0.4.11",
    "fastapi[standard]>=0.124.0",
    "slowapi>=0.1.9",
    "trafilatura>=2.0.0",
]
